.cnjcx-btn {
  background-color: #8c1515 !important;
  width: 100% !important;
}

.circle {
  border-radius: 50%;
  border: 2px solid #222;
  height: 60px;
  width: 60px;
}

.speakerCard {
  margin: 5px;
  padding: 5px;
  height: 80px;
  overflow: scroll;
  color: black;
}

.speakerCard:hover {
  background-color: #eee;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}
